dist: xenial
language: minimal
env:
  matrix:
  - PYTHON_VERSION="3.6"
  - PYTHON_VERSION="3.7"
services:
- docker
matrix:
  fast_finish: true
before_install:
- pip install --upgrade --user pip setuptools codecov
install:
- IMAGE_ID="$(docker build --build-arg VERSION="${PYTHON_VERSION}" --quiet .)"
- CONTAINER_ID="$(docker run --detach --tty --rm "${IMAGE_ID}")"
script:
- docker exec --interactive --tty "${CONTAINER_ID}" pytest
after_success:
- docker cp "${CONTAINER_ID}:/root/coverage.xml" "./"
- codecov -e PYTHON_VERSION
deploy:
  provider: pypi
  user: benmaddison
  distributions: sdist bdist_wheel
  password:
    secure: rOwpfTcx+1Sp0piFKKzw+uW311Qy1Cz5Lv95KXAv66qDU0yrOdkd4Y9PFr7yozmidaAw97zDWpyhcQ++xbeWpbgKfAi/Bvbh9FACCkMeB/srBPvGVmWDhL/Cv/hO9k8UgKanHWNs1IYWfFsKzwlPpz2qNN64/W6wl0b7ho18UxSpybBUbezw+zsZQD4GPhnHePGO4hZLysMO40EzS5cP96XQqmeReOv4M4HeeMWGh3fLgHgv8eOfxls/aBuL7k6UCYXdKcc62KHtoTJXWQkaSfYAoRZO5KyTxKTSDOTmSZ1C+Kl6RYyD7RoYWm4c4LHBkCB5G+S/ifof3DVc4Lnpidr8jbMGkwnCCWm5AZxg/q4TLejLUwMzdAbm8BtlyOfZOMuCz0wt+HnZWnUbYLlPJ6i31eHpWkaxWjjh7Xy34zrE6n4YQfJhegZ/gBzy547q5GDRS5M8516XHz2wTue43TVQRcY3A0rF1K4lSqMwr6tKzArMVaTyYscr6kmSjqLJgv8tq+sFnctAeOJRxG80KhCp4odi51TP91OG9K5WnqjvIcT1rIwu546Wzg5JQyllSYjR3K26z99Dk7wc2COSrNJ9vndrVWbSPSXNpC/JAF4mBUAjWUvurEqa2xRb21bfbtC7Vzg3HAWQqtwCsZ3rCw6mFHNfi9d7dmda56hRv8A=
  on:
    tags: true
    condition: $PYTHON_VERSION = "3.6"
